
/* Headers */

header {
        position: fixed;
        width:100%;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        background-color: rgb(120, 0, 200);
}

h1 {
    width:auto;
    height: 30%;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 5px;
    color:#ff0035;
    text-align: center;
    }

/* NAV */

nav {
    width:auto;
    height: 70%;
    align-content:center ;
}

nav ul{
  list-style-type: none;
  margin-right: 10px;
}


nav ul li {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 32px;
    margin-top: 4px;
    margin-right: 4px;
    border: 1px solid red;
    border-top-left-radius:50% ;
    border-bottom-right-radius: 50%; 
    padding: 4px;
    font-weight: bold;
    background-color: rgb(255, 189, 222);
}

nav ul li a {  
    text-align: center;  
   color:blue;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: bold;
}

nav ul li a:hover {
   text-decoration: none;
   color:rgb(250, 18, 68);
   font-style: italic;
}

.active {
    background-color: rgb(252, 122, 90);
}


        /* Containers */

.container-fluid {
                    background-color: black; 
                    background-image:url('../images/nutrition/tape5.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: top center;
                    background-size: cover;
}

section .flex-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin:auto;
}


section .flex-container div {
  position:sticky;
  top: 140px;
  background-color:rgba(255, 0, 0, 0.2);
  width: 100%;
  height:91px;
  margin-bottom: 10px;
  text-align: left;
  border-top: 1px solid red;
  border-left: 1px solid red;
}


/* section ID's  */

#hiit {
  background-color:rgba(255, 0, 0, 0.2);
  background-image:url('../images/hiit/hiit1.jpg');
  background-clip: content-box;
  background-origin:;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right ;
  margin-top: 140px;  
}

#zumba {
  background-color:rgba(255, 0, 0, 0.2);
  background-image:url('../images/zumba/zumba1.jpg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position:right ;
  background-size: contain;
}


#yoga {
  background-color:rgba(255, 0, 0, 0.2);
  background-image:url('../images/yoga/yasana.jpg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position:right ;
  background-size: contain;
}

#nutri {
  background-color:rgba(255, 0, 0, 0.2);
  background-image:url('../images/nutrition/apetit.jpg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position:right ;
  background-size: contain;
}

#vip {
  background-color:rgba(255, 0, 0, 0.2); 
  background-image:url('../images/vip/pt3.jpg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position:right ;
  background-size: contain;
}

#stretch {
  background-color:rgba(255, 0, 0, 0.2);
  background-image:url('../images/stretch/stre2.jpg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position:right ;
  background-size: contain;
}


 /*  H3 section elements */

#hiit  h3 {
    color: rgb(133, 4, 253);
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;    
}

#zumba  h3 {
    color: rgb(133, 4, 253);
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;    
}

#yoga  h3 {
    color: rgb(133, 4, 253);
    margin-top: 10px;
    margin-left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;    
}

#nutri  h3 {
    color: rgb(133, 4, 253);
    margin-top: 40px;
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;    
}

#vip  h3 {
    color: rgb(133, 4, 253);
    margin-top: 40px;
    margin-left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;    
}

#stretch  h3 {
    color: rgb(133, 4, 253);
    margin-top: 10px;
    margin-left: 210px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;    
}
section a:hover {
   text-decoration: none;
   color:rgb(255, 0, 10);
   background-color: rgba(8, 4, 243, 0.623);
   font-style: italic;
}



pre {
    background-color:rgba(209, 25, 255, 0.2);
    color: red;
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 160px;
    padding-right: 20px; 
    text-align: center;
    top:1px;
    border-top: 1px solid red;
    border-left: 1px solid red;
}

pre h5 {
    margin-left: 15px;
}
pre h5 :hover {
    color: blue;
    font-style: italic;
    font-weight: bold;
    background-color:rgba(255, 8, 0, 0.616);
    padding: 10px;
    text-decoration: none;
}


/*  footer  area */ 

footer {
    line-height: 12px;
    margin: o;
    padding: 0;
}

footer .row {
        width:auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        right: 5px;
        left: 5px;
    background-color:rgba(209, 25, 255, 0.2);
    color: blue;
    text-align: center;
}
.general-sub {
    color:rgb(121, 251, 255);
    margin-top: 12px;
    font-weight: bolder;
    }

footer a {
            font-weight: bold;
            color: white;
}

footer a:hover{
    color:blue;
    text-decoration:none;
    font-style:italic;
}

.rh {
    ppadding:2px; 
    margin-top:1px;
    margin-bottom: 1px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(46, 8, 117);
    text-align: center;
    border-bottom: 1px solid lightblue;
}

h4 :hover {
    color:red;
    font-style: italic;
}